* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.layout {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: column;
}

.item {
    height: 60px;
    width: 150px;
    border-radius: 15px;
    box-shadow: 0 0 15px grey;

    font: 16px/32px Arial, Helvetica, sans-serif;

    color: gray;
    text-align: center;
}

.i1 {
    background-color: blue;
}

.i2 {
    background-color: green;
}

.i3 {
    background-color: yellow;
}

.i4 {
    background-color: red;
}

.i5 {
    background-color: fuchsia;
}