include ../title-section-h2/title-section-h2.pug
include ../title-section-h3/title-section-h3.pug

mixin our-tourist()
    section.our-tourist.layout.layout__bg-our-tourist
        .our-tourist_content.layout_section
            .our-tourist_title
                +title-section-h2()
            .our-tourist_box
                img.our-tourist_picture(src='img/img-ourTourist.png')
                .our-tourist_side-bar
                    +title-section-h3()
                    p.our-tourist_text
                        i.fas.fa-quote-left
                        | But I must explain to you how all this mistaken idea of account to denouncinpleasure and praising pain  But I must explain to you how all this mistaken idea of account to nai denouncing pleasure and praising pain was account  born and I account will give you a complete account of the system was account  born and I account will give you a nai the complete account of the system