extends layout.pug

block title_h1
  h1.title_h1 Nike SB stefan janoski max
block title_p
  p.title_p Unisex skateboarding shoe
block optionSize
  option.select_item(value='') Size
block optionSize1
  option.select_item(value='') 32
block optionSize2
  option.select_item(value='') 38
block optionQty
  option.select_item(value='') Qty
block optionQty_1
  option.select_item(value='') 2
block optionQty_2
  option.select_item(value='') 5
block picture
  .picture
    img.picture_item(src='image/Nike-SB-Stefan-Janoski-Max.png', alt='')
block logo
  .logo
    img.logo_picture(src='image/logo.png')