doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Nike Product Card DARK
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', href='favicon.png')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css')
    link(rel='stylesheet', href='css/style.css')
body
    .layout
        .layout_item
            include pages/product/product.pug