* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130px;
    width: 130px;
    margin-bottom: 30px;

    border: 1px solid lightgrey;

    background-image: radial-gradient(180deg, transparent 125px, gray 125px, lightgray 130px);
}

#r1,
#r2 {
    text-align: center;
    padding: 60px;
}