mixin intro(title, subtitle, subtitle1)
    section.intro#_Home
        .intro_content
            h1.intro_title=title
            p.intro_subtitle=subtitle
            p.intro_subtitle=subtitle1
