mixin dot()
    .dot
        ul.dot_items
            li.dot_button
                input(type="radio" name="button" checked).dot_input
                span.dot_item.dot_item__active
            li.dot_button
                input(type="radio" name="button").dot_input
                span.dot_item
            li.dot_button
                input(type="radio" name="button").dot_input
                span.dot_item