.select
  .select_inner
    select.select_list
      block optionSize
      block optionSize1
      block optionSize2
    .select_figure
  .select_inner
    .select_figure
      select.select_list
        block optionQty
        block optionQty_1
        block optionQty_2