- 
    var navBars = [
        {
            navClass:'_link', 
            navHref:'#', 
            navTitle:'log in', 
            navName:'Log In'
            },
        {
            navClass:'_link', 
            navHref:'#', 
            navTitle:'Sing up', 
            navName:'Sing up'
            },
        {
            navClass:'_btn', 
            navHref:'#', 
            navTitle:'burger-menu', 
            navName:''}
    ];

    var getVals = [
        {
            getHref:'img/burger.svg', 
            getTitle:'GET INSPIRED', 
            getText:'Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.'
            },
        {
            getHref:'img/dolar.svg', 
            getTitle:'GET REWARDED', 
            getText:'Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.'
            },
        {
            getHref:'img/cook.svg', 
            getTitle:'GET SOCIAL', 
            getText:'Lorem ipsum dolor sit amet, consectetur adipisc Pellentesque vel enim a elit viverra elementuma. Aliquam erat volutpat.'
            }
    ];

    var iText = [
        'Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet '+
        'felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest'+
        'ibulum tristique. Suspendisse tristique lacus ac mattis porta.',

        'Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In '+
        'libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas'+
        'sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.'+ 
        'Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.',

        'Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam '+
        'malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices '+
        'ante, a mattis massa.'
    ];

    var foodVals = [
        {
        image: 'img/food_italian.jpg',
        subtitle: '327 Recipes',
        cook: 'italian',
        },
        {
        image: 'img/food_indian.jpg',
        subtitle: '856 Recipes',
        cook: 'indian',
        },
        {
        image: 'img/food_french.jpg',
        subtitle: '27 Recipes',
        cook: 'french',
        },
        {
        image: 'img/food_steak.jpg',
        subtitle: '174 Recipes',
        cook: 'steakhouse',
        },
        {
        image: 'img/food_sea.jpg',
        subtitle: '721 Recipes',
        cook: 'seafood',
        },
        {
        image: 'img/food_sushi.jpg',
        subtitle: '237 Recipes',
        cook: 'sushi',
        },
        {
        image: 'img/food_mexican.jpg',
        subtitle: '529 Recipes',
        cook: 'mexican',
        },
        {
        image: 'img/food_china.jpg',
        subtitle: '145 Recipes',
        cook: 'chinese',
        },
        {
        image: 'img/food_pizza.jpg',
        subtitle: '327 Recipes',
        cook: 'pizza',
        },
        {
        image: 'img/food_american.jpg',
        subtitle: '1.437 Recipes',
        cook: 'american',
        },
    ];

    var statVal = [
        {
        numeric: '23,576',
        name: 'Recipes Available',
        }, 
        {
        numeric: '431,729',
        name: 'Active Users',
        },
        { 
        numeric: '892,173',
        name: 'Positive Reviews',
        },
        {
        numeric: '56,581',
        name: 'Photos & Videos',
        },
        {
        numeric: '3,182',
        name: 'Spices and Herbs',
        }
    ];
