- 
    var iconsData = [
        {
            iconModif: '',
            iconLink: 'svg/search.svg', 
            iconAlt: 'search', 
            iconName: 'Search Places'
        },
        {   
            iconModif: 'icons__dotted',
            iconLink:'svg/select.svg', 
            iconAlt:'select', 
            iconName:'Select Places'
        },
        {   
            iconModif: '',
            iconLink:'svg/like.svg',
            iconAlt:'like',
            iconName:'Book & Enjoy'
        }
    ];

    var navigationData = [
        {
            navLink:'#',
            navName:'Who We Are'
        },
        {
            navLink:'#',
            navName:'What We Do'
        },
        {
            navLink:'#',
            navName:'Travel With Us'
        },
        {
            navLink:'#',
            navName:'Contact Us'
        },
    ];