mixin social()
    .social
        a.social_link(href='#')
            i.fab.fa-facebook-f
        a.social_link(href='#')
            i.fab.fa-twitter
        a.social_link(href='#')
            i.fab.fa-linkedin-in
        a.social_link(href='#')
            i.fab.fa-youtube
        a.social_link(href='#')
            i.fab.fa-pinterest