mixin footer(contextSocial)
    footer.footer
        .footer_content.layout_1110
            p.footer_title ©2014 <strong>tulus</strong>driyo. All Rights Reserved.
            .footer_social
                +social(contextSocial)