//
mixin social()
    .social
        .social_button.social_button__fb
        .social_button.social_button__twit
        .social_button.social_button__g
        .social_button.social_button__link