include bem/layout/layout.pug


doctype
html(lang='en')
	head
		meta(charset='utf-8')
		title Fudi
		link(rel="shortcut icon", href="favicon.png", type="image/x-icon")
		link(href="style.css", rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
		link(href="fonts/themify-icons/themify-icons.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
		
	body
		+layout()
		
			