mixin list(list)
  ul.list
    if list == 'list1'
        each item in listItems1
            li.list_item=item
    else if list == 'list2'
        each item in listItems2
            li.list_item=item
    else if list == 'list3'
        each item in listItems3
            li.list_item=item 



