-
    var contextGraphic = [
        {   
            src: 'icons/Icon-Graphic.png',
            title:'GRAPHIC DESIGN',
            text:'Cras mattis consectetur purus sit amet fermentum.'
        },
        {   
            src: 'icons/Icon-Web.png',
            title:'WEB DEVELOPMENT',
            text:'Cras mattis consectetur purus sit amet fermentum.'
        },
        {   
            src: 'icons/Icon-SEO.png',
            title:'SEO & MARKETING',
            text:'Cras mattis consectetur purus sit amet fermentum.'
        },
        {   
            src: 'icons/Icon-Mobile.png',
            title:'MOBILE DEVELOPMENT',
            text:'Cras mattis consectetur purus sit amet fermentum.'
        }
    ];

    var contextNav = [
        {   
            name: 'Home',
            href:'#_Home',
            title:'Home'
        },
        {   
            name: 'About',
            href:'#_About',
            title:'About'
        },
        {   
            name: 'Services',
            href:'#_Services',
            title:'Services'
        },
        {   
            name: 'Works',
            href:'#_Works',
            title:'Works'
        },
        {   
            name: 'Contact',
            href:'#_Contact',
            title:'Contact'
        }   
    ];

    var contextSlider1 = [
            {   
                src: 'img/Campofrío_Home_1.jpg'
            },
            {   
                src: 'img/Campofrío_Home_2.jpg'
            },
            {   
                src: 'img/Campofrío_Home_1.jpg'
            },
            {   
                src: 'img/Campofrío_Home_2.jpg'
            },
        ];

    var contextSlider2 = [
            {   
                src: 'img/Layer_1.png',
                title: 'Miguel Obrien',
                subtitle: 'CEO & Founder'
            },
            {   
                src: 'img/Layer_4.png',
                title: 'Jackie Carroll',
                subtitle: 'Art Director'
            },
            {   
                src: 'img/Layer_5.png',
                title: 'Ida Morrison',
                subtitle: 'Designer'
            },
            {   
                src: 'img/Layer_1.png',
                title: 'Miguel Obrien',
                subtitle: 'CEO & Founder'
            },
            {   
                src: 'img/Layer_4.png',
                title: 'Jackie Carroll',
                subtitle: 'Art Director'
            },
            {   
                src: 'img/Layer_5.png',
                title: 'Ida Morrison',
                subtitle: 'Designer'
            }
        ];
    
    var contextSocial = [
            {   
                class: 'fa-behance'
            },
            {   
                class: 'fa-linkedin-in'
            },
            {   
                class: 'fa-google-plus-g'
            },
            {   
                class: 'fa-facebook-f'
            },
            {   
                class: 'fa-twitter'
            }
        ];