.toolbar
    input#r1.toolbar_input(type='radio', name='radio', checked='')
    label.toolbar_label.toolbar_label__grey(for='r1')
    input#r2.toolbar_input(type='radio', name='radio')
    label.toolbar_label.toolbar_label__white(for='r2')
    input#r3.toolbar_input(type='radio', name='radio')
    label.toolbar_label.toolbar_label__red(for='r3')
    input#r4.toolbar_input(type='radio', name='radio')
    label.toolbar_label.toolbar_label__blue(for='r4')