-
    var contextIcons = [
        {
            href:'#information',
            title:'INFORMATION',
            svg:'svg/tooltip.svg',
            class:'_active'
        },
        {
            href:'#rating',
            title:'RATINGS INFO',
            svg:'svg/card.svg',
            class:''
        },
        {
            href:'#toBuy',
            title:'WHERE TO BUY',
            svg:'svg/tooltip.svg',
            class:''
        }        
    ];

    var btnValue = {
        href: '#',
        name: 'Buy it now',
        title: 'Buy it now'
    }