.rating
    .rating_list
      span.rating_item ★
      span.rating_item ★
      span.rating_item.rating_item__active ★
      span.rating_item.rating_item__active ★
      span.rating_item.rating_item__active ★