include bem/header/header.pug
include bem/footer/footer.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css")
        link(rel="stylesheet" href="style.css")
        title Document
    body
        +header()
        include bem/section/aboutus.pug

        - var sectionModifier = 'invert';
        include bem/section/services.pug

        - sectionModifier = '';
        include bem/section/contactus.pug

        +footer()