mixin search()
    form.search
        input.search_input(type='search', name='search', pattern='^[A-Za-z]{3,}' placeholder='Search Your Travel Destination')
        input.search_button(type='submit', name='submit', value='SEARCH')
