include ../social/social.pug

mixin footer()
    foofer.footer.layout.layout__bg-footer
        .footer_content.layout_section
            h1.footer_title Bhromaon
            p.footer_subtitle Safe Travel Anywhere
            .footer_social
                +social()