section.product
    main.product_main
        .product_main-inner
            block logo
        .product_main-inner
            block picture
        .product_main-inner
            include ../toolbar/toolbar.pug
    aside.product_info
        .prodact_info-inner
            include ../title/title.pug
        .prodact_info-inner
            include ../rating/rating.pug
        .prodact_info-inner
            include ../select/select.pug
        .prodact_info-inner
            include ../button/button.pug