extends section.pug

block title
    h2.h2 About us

block content
    p.p When you work with us, you are part of a team of committed collaborators. All aspects of our software development process are integrated, iterative and agile.
    p.p Our approach unifies design, development and product management to create exceptional products. We start each project by understanding your business goals, the user’s needs and the product requirements. Then we help translate them into effective and elegant solutions.