extends section.pug

block title
    h2.h2 Contact us

block content
    p.p Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve.
    .section_button
        button.button Contact us