extends section.pug

block title
    h2.h2.h2__invert Services

block content
    p.p Before we sign a contract or write a line of code our team will spend the necessary time needed to understand your product vision. The outcome of this scoping session is a proposal or high-level statement of work. 
    p.p Based on your requirements, we can provide a complete offering or just the pieces you need. 